---
const { titlePage } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{titlePage}</title>
	</head>
	<body id="body">
		<slot />
	</body>
</html>

<style lang="scss" is:global>
	@use "../styles/fonts.scss";
	@use "../styles/icons.scss";
	@use "../styles/null.scss";
	@use "../styles/settings.scss";
</style>

<script>
	import deviceDetection from "../utilities/deviceDetection.ts";
	import { loaded } from "@utils/setup.ts";
	deviceDetection();
	loaded();
</script>
