---
import Button from "@components/Button.astro";
---

<div class="information">
	<div class="information__logo">
		<svg
			class="logo"
			width="133"
			height="286"
			viewBox="0 0 133 286"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<g clip-path="url(#clip0_26_17)">
				<path
					class="logo__fill"
					d="M46.7154 5.5813C46.7154 5.5813 47.4565 30.1389 22.1005 31.0159C14.3984 31.2817 7.78148 36.8895 6.85511 44.597C6.80218 44.9691 6.77571 45.3412 6.74924 45.7133C5.92874 57.992 11.6458 104.662 10.0048 121.034C8.36377 137.405 2.67322 167.704 0.211728 184.899C-2.2233 202.095 14.0808 237.31 25.4883 240.579C25.4883 240.579 21.4123 232.393 17.3363 224.207C13.2603 216.022 5.92874 199.65 6.72277 185.723C7.5168 171.797 13.525 134.801 15.6953 120.21C17.8127 105.964 13.1544 52.7829 13.2603 48.1584C13.3662 43.3744 10.8253 37.5008 27.9498 34.2318C38.5898 32.1853 44.201 24.7702 46.9271 19.4547C48.6211 16.106 49.468 12.3851 49.3092 8.66428C49.2298 7.01648 48.9652 5.5813 48.3035 5.5813"
				></path>
				<path
					class="logo__fill"
					d="M26.3353 71.8921C26.3353 71.8921 25.5148 81.7257 39.3839 98.0974C48.9916 109.446 42.1365 125.552 37.0282 134.376C35.2814 137.379 33.2169 140.17 30.9142 142.774C26.3882 147.904 15.3777 162.335 14.1072 182.428C14.1072 182.428 9.21073 176.129 16.2511 153.751C17.3363 150.322 18.7656 147.027 20.5124 143.917C24.562 136.661 32.6875 121.991 34.5138 117.738C36.1283 113.964 34.1962 105.885 32.6875 100.835C31.9994 98.5492 31.126 96.3167 30.1467 94.1374C27.8704 89.194 23.2121 77.5796 26.3618 71.8655L26.3353 71.8921Z"
				></path>
				<path
					class="logo__fill"
					d="M94.6219 150.375C94.7542 149.232 93.1662 148.807 92.7162 149.87C88.4814 159.624 78.1855 181.125 64.6605 194.733C47.9594 211.503 36.9224 234.626 33.5081 253.602C33.4287 254.08 34.1168 254.293 34.3021 253.841C37.0018 246.958 43.6981 232.393 55.7144 220.938C72.0185 205.391 85.8876 176.714 85.8876 176.714C85.8876 176.714 93.1926 162.654 94.6484 150.375H94.6219Z"
				></path>
				<path
					class="logo__fill"
					d="M102.695 34.5773C102.747 34.3381 103.092 34.3647 103.118 34.6039C103.197 37.7134 103.118 44.1718 101.371 52.2513C98.9361 63.7062 89.9636 75.1877 85.8876 80.1045C81.8115 85.0213 75.3534 98.9479 75.3534 98.9479C74.1359 100.622 72.6802 100.596 71.5156 100.17C70.351 99.7452 69.6099 98.7353 69.3188 97.5659C67.519 90.4697 58.0965 81.832 45.1009 70.2974C33.8257 60.3043 33.3492 49.753 33.561 46.1917C33.561 45.9259 33.9315 45.8993 34.0109 46.1385C35.149 49.7796 39.8338 60.8624 56.5614 70.2974C56.5614 70.2974 68.7365 78.4833 73.633 85.0479C73.633 85.0479 80.1441 69.5001 90.7576 58.8425C99.0684 50.4972 101.874 39.1486 102.695 34.6039V34.5773Z"
				></path>
				<path
					class="logo__fill"
					d="M82.1027 0.877074C82.2615 10.0995 85.7023 26.0725 106.876 31.1754C108.253 31.5209 109.682 31.6803 111.085 31.7601C115.637 32.079 128.368 34.9759 125.007 57.9389C120.931 85.792 116.855 103.785 117.675 108.702C117.675 108.702 120.11 134.907 121.751 143.093C122.783 148.302 122.836 164.435 122.731 175.491C122.651 184.474 121.619 193.404 119.607 202.175C118.072 208.925 115.849 217.218 112.779 225.802C112.779 225.802 122.572 217.563 128.262 178.308C128.262 178.308 131.094 157.259 127.786 135.811C124.927 117.153 125.033 98.1506 128.818 79.6526C129.374 76.9152 130.009 74.0448 130.724 71.0415C134.826 53.7928 132.735 42.9226 129.665 36.3845C128.051 32.9561 125.483 30.0857 122.334 28.0658C120.269 26.7369 117.887 25.8865 115.478 25.4612C112.011 24.8234 105.553 23.5476 103.118 22.5377C100.154 21.2886 87.8991 14.8568 83.7966 0.611299C83.5054 -0.372067 82.0762 -0.159447 82.1027 0.850496V0.877074Z"
				></path>
				<path
					class="logo__fill"
					d="M112.779 192.261C117.702 172.567 99.7037 136.422 97.8774 127.067C97.5598 125.419 97.3481 123.878 97.2157 122.416C96.7658 117.286 97.5598 112.13 99.439 107.32C110.608 78.7225 109.497 71.015 109.497 71.015C106.241 39.8397 109.497 30.1123 109.497 30.1123L109.841 30.0326L113.335 30.9362L116.008 56.3177C116.828 62.8558 117.993 69.1812 117.119 75.9053C117.119 76.0116 117.119 76.1179 117.093 76.1976C116.008 84.5695 113.626 92.7022 110.158 100.383C107.273 106.762 103.515 115.692 103.118 120.13C102.43 127.466 108.703 135.731 115.214 155.372C119.74 169.033 119.157 180.328 118.39 185.936C118.39 185.936 116.855 194.68 112.779 199.597L109.523 203.53C109.338 203.743 108.994 203.557 109.073 203.291L109.761 201.059"
				></path>
				<path
					class="logo__fill"
					d="M98.7244 182.295C98.8567 181.152 97.2687 180.727 96.8187 181.79C92.5839 191.544 82.2879 213.045 68.763 226.653C52.0619 243.423 41.0249 266.545 37.6105 285.522C37.5311 286 38.2193 286.213 38.4046 285.761C41.1043 278.877 47.8006 264.313 59.8169 252.858C76.121 237.31 89.99 208.633 89.99 208.633C89.99 208.633 97.2951 194.574 98.7508 182.295H98.7244Z"
				></path>
			</g>
			<defs>
				<clipPath id="clip0_26_17">
					<rect width="133" height="286" fill="white"></rect>
				</clipPath>
			</defs>
		</svg>
	</div>
	<h1 class="information__title">Panyanka</h1>
	<p class="information__phrase">The best version of you</p>
	<Button titleButton="Purchase" />
</div>

<style lang="scss">
	@use "../../../styles/utilities.scss" as utils;
	@use "../../../styles/grid.scss" as grid;

	.information {
		text-align: center;
		z-index: 1;

		@include grid.breakpoint("pc", "min") {
			transform: translateY(-6%);
		}
		&__logo {
			display: inline-block;
			height: min-content;
			width: utils.adaptive(1.5);

			@include grid.breakpoint("tablet", "max") {
				width: utils.adaptive(2.8);
			}
		}
		&__title {
			font-size: utils.adaptive(4);
			@include grid.breakpoint("tablet", "max") {
				font-size: utils.adaptive(6);
			}
		}
		&__phrase {
			font-family: "Exo";
			font-size: utils.adaptive(1.5);
			margin-bottom: utils.adaptive(4);

			@include grid.breakpoint("tablet", "max") {
				font-size: utils.adaptive(2.2);
				margin-bottom: utils.adaptive(5);
			}

			@include grid.breakpoint("mobileSmall", "max") {
				margin-bottom: utils.adaptive(6);
			}
		}
	}

	.logo {
		height: 100%;
		width: 100%;
		&__fill {
			fill: var(--theme-text);
		}
	}
</style>
