---

---

<div class="arrow">
	<svg
		width="100"
		height="100"
		viewBox="-35 -40 100 100"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			id="arrow"
			class="arrow__fill"
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M17.8571 2.85714C17.8571 2.09938 17.5561 1.37266 17.0203 0.836838C16.4845 0.30102 15.7578 0 15 0C14.2422 0 13.5155 0.30102 12.9797 0.836838C12.4439 1.37266 12.1428 2.09938 12.1428 2.85714V17.1429H6.42856C6.14565 17.1424 5.86895 17.2259 5.63355 17.3828C5.39816 17.5397 5.21466 17.763 5.10632 18.0244C4.99799 18.2857 4.96969 18.5734 5.02503 18.8508C5.08036 19.1283 5.21683 19.3831 5.41714 19.5829L13.9886 28.1543C14.1213 28.2873 14.2789 28.3929 14.4525 28.4649C14.626 28.5369 14.8121 28.574 15 28.574C15.1879 28.574 15.374 28.5369 15.5475 28.4649C15.7211 28.3929 15.8787 28.2873 16.0114 28.1543L24.5828 19.5829C24.7832 19.3831 24.9196 19.1283 24.975 18.8508C25.0303 18.5734 25.002 18.2857 24.8937 18.0244C24.7853 17.763 24.6018 17.5397 24.3664 17.3828C24.131 17.2259 23.8543 17.1424 23.5714 17.1429H17.8571V2.85714Z"
		>
		</path>
		<path
			id="dash"
			class="arrow__fill"
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M3.75 34C2.75544 34 1.80161 34.3161 1.09835 34.8787C0.395088 35.4413 0 36.2043 0 37C0 37.7957 0.395088 38.5587 1.09835 39.1213C1.80161 39.6839 2.75544 40 3.75 40H26.25C27.2446 40 28.1984 39.6839 28.9017 39.1213C29.6049 38.5587 30 37.7957 30 37C30 36.2043 29.6049 35.4413 28.9017 34.8787C28.1984 34.3161 27.2446 34 26.25 34H3.75Z"
		>
		</path>
	</svg>
</div>

<style lang="scss">
	@use "../../styles/utilities.scss" as utils;

	.arrow {
		cursor: pointer;
		margin-bottom: utils.adaptive(0.5);
		z-index: 1;
		&__fill {
			fill: var(--theme-element);
		}
	}
</style>

<script>
	import gsap from "gsap";

	const arrowTween = gsap.to("#arrow", {
		keyframes: {
			"0%": { opacity: 0, y: -45 },
			"75%": { opacity: 1, y: 0, ease: "expo" },
			"100%": { opacity: 0, y: -40, ease: "expo" },
		},
	});
	arrowTween.repeat(-1);
	arrowTween.duration(3);

	const dashTween = gsap.to("#dash", {
		keyframes: {
			"0%": { opacity: 0 },
			"75%": { opacity: 1, ease: "expo" },
			"100%": { opacity: 0, ease: "expo" },
		},
	});
	dashTween.repeat(-1);
	dashTween.duration(3);
</script>
