---
import Header from "@components/index/Main/Header.astro";
import Information from "@components/index/Main/Information.astro";
import Arrow from "@components/index/Main/Arrow.astro";

import Video from "../../assets/video.mp4";
---

<section class="main">
	<div class="wrapper">
		<div class="frame">
			<Header />
			<Information />
			<Arrow />
			<video src={Video} class="video" autoplay loop muted />
		</div>
	</div>
</section>

<style lang="scss">
	@use "sass:math";

	@use "../../styles/utilities.scss" as utils;
	@use "../../styles/variables.scss" as vars;

	.wrapper {
		width: 100%;
		height: 100svh;
		padding: utils.adaptive(1.67);
	}

	.frame {
		height: 100%;
		width: 100%;
		border-radius: 20px;

		position: relative;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.video {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 20px;
		object-fit: cover;
		z-index: 0;

		filter: brightness(30%);
	}
</style>
